.container {
  min-height: calc(100vh-70px);
  padding: 0 calc(3.5vw + 5px);
  position: relative;
  display: flex;
  flex-direction: column;
}
.background {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  opacity: 0.8;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.imgTitle {
  width: 300px;
  margin-top: 60px;
  margin-bottom: 10px;
}

.imgTitle img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.controls {
  display: flex;
  align-items: center;
  margin-top: 3px;
}

.subTitle {
  color: rgb(249, 249, 249);
  font-size: 15px;
  min-height: 20px;
  margin-top: 26px;
}

.description {
  line-height: 1.4;
  font-size: 20px;
  margin-top: 16px;
  color: rgb(249, 249, 249);
}
.text {
  margin-top: 5px;
  display: flex;
  flex-wrap: wrap;
  max-width: 700px;
  background: rgba(0, 0, 0, 0.3);
  border: none;
  color: rgb(249, 249, 249);
  border-radius: 10px;
  padding: 5px;
}
