.plan {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  opacity: 0.8;
  &:hover {
    opacity: 1;
  }
  &Disabled {
    button {
      background: gray !important;
    }
  }
  button {
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #e50914;
    border: none;
    cursor: pointer;
  }
}
