.row {
  &Card {
    object-fit: contain;
    display: flex;
    margin-right: 25px;
    transition: transform 450ms;
    &:hover {
      cursor: pointer;
      transform: scale(1.08);
      opacity: 1;
    }
  }
  &Poster {
    border-radius: 25px;
    width: 185px;
    height: 278px;
  }
}
